@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<hr />

ThreadID1 = @ViewBag.ThreadID1
<br />
ThreadID2 = @ViewBag.ThreadID2
<br />
ThreadID3 = @ViewBag.ThreadID3
<br />
ThreadID4 = @ViewBag.ThreadID4
